body {
    background-image: url("pizza3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: orange;
    background-attachment: fixed;
    overflow: scroll;
    font-style: italic;

}

h1 {
    color: darkgreen;
    font-style: italic;
    background-color: aliceblue;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 30px;
}

