@(users: List[models.User], orders: List[models.Order], totalPrice: Option[BigDecimal], avgPrice: Option[BigDecimal])

@main(models.Company.name) {

    <h1>Bestllungen bei @models.Company.name</h1>

    <p>Bestellübersicht</p>

    <table>
        <tr>
            <th>Name</th>
            <th>Bestellung</th>
            <th>Extras</th>
            <th>Anzahl</th>
            <th>Größe</th>
            <th>Preis</th>
            <th>Lieferzeit</th>
            <th>Bestellzeit</th>
        </tr>
        @for(order <- orders) {
            <tr>
                <td><a href="/userOrders?username=@order.userName">@order.userName</a></td>
                <td>@order.orderItem</td>
                <td>@order.orderExtras</td>
                <td>@order.orderQuantity</td>
                <td>@order.orderSize</td>
                <td>@order.orderPrice €</td>
                <td>@order.delivery min</td>
                <td>@{
                    var date = order.date.toString
                    f"$date%2.16s"
                }</td>
                }
    </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Gesamt</td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>@totalPrice €</td>

        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Durchschnitt </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>@{
                var avg = avgPrice.get
                f"$avg%2.2f"
            } €</td>
        </tr>
    </table>
}
