@(users: List[models.User], userForm: Form[forms.CreateUserForm])

@staffView(models.Company.name) {

    <p>Zur Zeit sind folgende Benutzer registriert:</p>

    <table>
        <tr>
            <th>Name</th>
            <th>Password</th>
            <th>Entfernung</th>
            <th>Rolle</th>
            <th>Status</th>
        </tr>
        @for(user <- users) {
            <tr>
                <td>@user.name</td>
                <td>@user.password</td>
                <td>@user.distance</td>
                <td>@{if (user.admin) {
                    "Mitarbeiter"
                } else {
                    "Kunde"
                }
                }</td>
                <td>@{if (user.active) {
                    "Aktiv"
                } else {
                    "Inaktiv"
                }
                }</td>
                }
    </tr>
    </table>
    <div id="Box">
        <label>
    Kunden hinzufügen:
        </label>
        @helper.form(action = routes.UserController.addUser()) {
            <label>
                Username:<input type="text" name="Name"><br><br>
            </label>
            <label>
                Passwort: <input type="password" name="Password">
            </label>
            <br>
            <br>
            <label>
                Distanz: <input type="number" name="Distance" min="1" max="20">
            </label>
            <br>
            <br>
            <label>
                Ja: <input type="radio" name="Admin" value="true" checked>
            </label>
            <label>
                Nein: <input type="radio" name="Admin" value="false">
            </label>
            <input type="hidden" name="Active" value="true">
            <br>
            <br>
            <input type="submit" value="Speichern" />
        }

</div>
    <div id="Box">
    <label>
    Kundenänderung:
        </label>
        @helper.form(action = routes.UserController.changeUser()) {
            <label>
                <select name="Name">
                @for(user <- users) {
                    <option>@user.name</option>
                }
                </select>
            </label>
            <br>
            <br>
            <label>
                Passwort: <input type="password" name="Password">
            </label>
            <br>
            <br>
            <label>
                Distanz<input type="number" name="Distance" min="1" max="20">
            </label>
            <br>
            <br>
            <label>
                Ja: <input type="radio" name="Admin" value="true">
            </label>
            <label>
                Nein: <input type="radio" name="Admin" value="false">
            </label>
            <br>
            <br>
            <label>
                Ja: <input type="radio" name="Active" value="true">
            </label>
            <label>
                Nein: <input type="radio" name="Active" value="false">
            </label>
            <br>
            <br>
            <input type="submit" value="Speichern" />
        }

    </div>
    <div id="Box">
        <label>
    Kundenlöschen:
        </label>
        @helper.form(action = routes.UserController.deleteUser()) {
            <label>
                <select name="Name">
                @for(user <- users) {
                    <option>@user.name</option>
                }
                </select>
            </label>
            <br>
            <br>
            <input type="hidden" name="Password" value="1">
            <input type="hidden" name="Distance" value="1">
            <input type="hidden" name="Admin" value="true">
            <input type="submit" value="Löschen" />
    </div>
}
}
