@(user: models.User, items: List[models.Item], extras: List[models.Extras], orderForm: Form[forms.CreateOrderForm])

@main(models.Company.name) {

    <h1>Hallo Kunde @user.name.toString bei @models.Company.name</h1>
    <table>

        <tr>
            <th>Kategorie</th>
            <th>Name</th>
            <th>Preis pro Einheit</th>
        </tr>
        @for(item <- items) {

            <tr>
                <td>@item.catName</td>
                <td>@item.name</td>
                <td>@item.price €</td>
            </tr>
        }
    </table>

    <table>
        <th>Extras</th>
        <th>Preis pro Extra</th>
        @for(extra <- extras) {
            <tr>
                <td>@extra.name</td>
                <td>@extra.price €</td>
            </tr>
        }
    </table>

    <p>Bestellen:
        @helper.form(action = routes.OrderController.addOrder) {
            <label>
                <select name="ItemName">
                @for(item <- items) {
                    <option>@item.name</option>
                }
                </select>
            </label>
            <br>
            <br>
            <label>
                Menge: <input type="number" name="ItemQuantity" min="1">
            </label>
            <br>
            <br>
            <label>
                Größe: <input type="number" name="ItemSize" min="1">
            </label>
            <br>
            <br>
            <label>
            <select name="Extras">
            @for(extra <- extras) {
                <option>@extra.name</option>
            }
            </select>
            </label>
            <br>
            <br>
            <input type="submit" value="Bestellen" />
        }
    </p>

    <p>Meine Bestellungen
        @helper.form(action = routes.OrderController.myOrders) {
            <input type="submit" value="Bestellungen" />
        }
    </p>
    <p><a href="/logout">Logout</a></p>
}
