@(username: String, items: List[models.Item], extras: List[models.Extras], orderForm: Form[forms.CreateOrderForm])

@main(models.Company.name) {

    <h1>Hallo Kunde @username bei @models.Company.name</h1>
    <table>

        <tr>
            <th>Kategorie</th>
            <th>Name</th>
            <th>Preis pro Einheit</th>
        </tr>
        @for(item <- items) {

            <tr>
                <td>@item.catName</td>
                <td>@item.name</td>
                <td>@item.price €</td>
            </tr>
        }
    </table>

    <table>
        <th>Extras</th>
        <th>Preis pro Extra</th>
        @for(extra <- extras) {
            <tr>
                <td>@extra.name</td>
                <td>@extra.price €</td>
            </tr>
        }
    </table>

    <p>Bestellen:
        @helper.form(action = routes.OrderController.addOrder(username)) {
            <select name="ItemName">
            @for(item <- items) {
                <option>@item.name</option>
            }
            </select><br><br>
            Menge: <input type="number" name="ItemQuantity" min="1"> <br><br>
            Größe: <input type="number" name="ItemSize" min="1"> <br><br>

            <select name="Extras">
            @for(extra <- extras) {
                <option value="@extra.name">@extra.name</option>
            }
            </select><br><br>
            Extramenge: <input type="number" name="ExtrasQuantity" value="0" min="0"> <br><br>

            <input type="submit" value="Bestellen" />
        }
    </p>
    <p><a href="/myOrder?username=@username">Meine Bestellungen</a></p>
}
