@(userForm: Form[forms.CreateUserForm])

@import views.html.helper

@main(models.Company.name) {
    <h1>Willkommen bei @models.Company.name</h1>

    <p>Registrieren:
        @helper.form(action = routes.UserController.addUser()) {
            Username:<input type="text" name="Name" ><br><br>
            Passwort:<input type="password" name="Password"><br><br>
            Distanz<input type="tnumber" name="Distance"><br><br>
            <input type="hidden" name="Admin" value="nein">
            <input type="submit" value="Speichern" />
    }
    </p>
}
