@(items: List[models.Item], extras: List[models.Extras])

@main(models.Company.name) {

    <h1>Unser Sortiment bei @models.Company.name</h1>
    <table>
        <tr>
            <th>Kategorie</th>
            <th>Name</th>
            <th>Preis pro Einheit</th>
        </tr>
        @for(item <- items) {

            <tr>
                <td>@item.catName</td>
                <td>@item.name</td>
                <td>@item.price €</td>
            </tr>
        }
    </table>


    <table>
        <th>Extras</th>
        <th>Preis pro Extra</th>
        @for(extra <- extras) {
            <tr>
                <td>@extra.name</td>
                <td>@extra.price €</td>
            </tr>
        }
    </table>
}