@(items: List[models.Item], extras: List[models.Extras], categorys: List[models.Category])

@main(models.Company.name) {

    <h1>Unser Sortiment bei @models.Company.name</h1>
    <table>
        <tr>
            <th>Kategorie</th>
            <th>Name</th>
            <th>Preis pro Einheit</th>
        </tr>
        @for(item <- items) {
            <tr>
                <td>@item.catName</td>
                <td>@item.name</td>
                <td>@item.price €</td>
            </tr>
        }
    </table>

    <table>
        <th>Extras</th>
        <th>Preis pro Extra</th>
        @for(extra <- extras) {
            <tr>
                <td>@extra.name</td>
                <td>@extra.price €</td>
            </tr>
        }
    </table>
    <p>Produktänderung:
        @helper.form(action = routes.ItemController.changeItem()) {
            <select name="Name">
            @for(item <- items) {
                <option>@item.name</option>
            }
            </select>
            <br>
            <br>
            <select name="Category">
            @for(category <- categorys) {
                <option value="@category.id">@category.name</option>
            }</select>
                <br>
            <br>
            Preis<input type="number" name="Price" min="0">
            <br>
            <br>
            <input type="submit" value="Speichern" />
        }
    </p>
    <p>Produkt hinzufügen:
        @helper.form(action = routes.ItemController.addItem()) {
            Produktname:<input type="text" name="Name" ><br><br>
        <select name="Category">
        @for(category <- categorys) {
            <option value="@category.id">@category.name</option>
        }</select>
        <br>
        <br>
        Preis<input type="number" name="Price" min="0" ><br><br>
        <br>
        <br>
        <input type="submit" value="Speichern" />
    }
    </p>
    <p>Produkt löschen:
        @helper.form(action = routes.ItemController.deleteItem()) {
            Produktname:<input type="text" name="Name" ><br><br>
        <input type="hidden" name="Category" value="1"><br><br>
        <input type="hidden" name="Price" value="1" ><br><br>
        <br>
        <br>
        <input type="submit" value="Speichern" />
    }
    </p>
}